  <footer class="page-footer lerkie-red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Wie zijn we</h5>
          <p class="grey-text text-lighten-4">Lerkeveld is een private residentie van de Vlaamse Provincie van Jezuïeten maar werkt op vlak van studentenhuisvesting nauw samen met de KU Leuven.</p>


        </div>
		<div class="col l3 s12">
			{# we moeten nog eens kijken welke links we hier willen
  			<h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
		  </ul> #}
		  <h1></h1> {# lege vulling #}
 		</div>
        <div class="col l3 s12">
          <h5 class="white-text">Nuttige links</h5>
          <ul>
            <li><a class="white-text" href="https://www.kuleuven.be/studentenvoorzieningen/huisvesting/residentiesab/lerkeveld">KULeuven website</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by the Lerkeveld IT-team
	  </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
