{% extends "layout.html" %}
{% set active_page = "contact" %}
{% block body %}
<div class="row">
<div class="col s8 offset-s2 light">
<h1>Adres</h1>
<p>Lerkeveld Presidium<br>
   Waversebaan 220<br>
   3001 Heverlee</p>
<h1>Mailinglists</h1>
<p>Alle mailinglists bevatten naast de verantwoordelijke en de werkgroep 
(waarvan je <a href="praesidium.html">hier</a> een overzicht kan terugvinden), 
tevens onze teergeliefde praeses en zijn gerespecteerde rechterhand de vice-praeses.</p>
<table>
  <tr>
    <th>Groep</th>
    <th>E-mail</th>
  </tr>
  <tr>
    <td>Praeses</td>
    <td>praeses@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Vice-praeses</td>
    <td>vice@lerkies.studentenweb.org</td>
  </tr>
  <tr>
   <td>Kern-Praesidium</td>
   <td>kern@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Activiteiten</td>
    <td>activiteiten@lerkies.studentenweb.org</td>
  </tr>
  <tr>
   <td>Cultuur</td>
   <td>cultuur@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Sport</td>
    <td>sport@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>IT</td>
    <td>it@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Kotbar</td>
    <td>kotbar@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Materiaal</td>
    <td>materiaal@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Praesidium</td>
    <td>lvpraes@listserv.cc.kuleuven.ac.be</td>
  </tr>
  <tr>
    <td>Alle lerkies</td>
    <td>lerkies@listserv.cc.kuleuven.ac.be</td>
  </tr>
  <tr>
    <td>Gangverantwoordelijken</td>
    <td>gangvw@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Noord 0</td>
    <td>n0@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Noord 1</td>
    <td>n1@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Noord 2</td>
    <td>n2@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Noord 3</td>
    <td>n3@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Zuid -1</td>
    <td>z-1@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Zuid 0</td>
    <td>z0@lerkies.studentenweb.org</td>
  </tr>
  <tr>
    <td>Zuid 1</td>
    <td>z1@lerkies.studentenweb.org</td>
  </tr>
  <tr>
     <td>Zuid 2</td>
     <td>z2@lerkies.studentenweb.org</td>
  </tr>
</table>
<h1>Rekeningnummer</h1>
<p>734-0294554-71<br>
IBAN BE49 7340 2945 5471<br>
BIC KREDBEBB<br>
KBC Bank</p>
</div>
</div>
</div><!--End content-->
</div><!--End container-->
{% endblock %}
