{% extends "layout.html" %}
{% block body %}
<h2 class="header center orange-text">
	Welkom   
</h2>
<div class="row center">
    <h5 class="header col s12 light">
        Welkom op Lerkeveld Underground, de site van, voor en door studenten op Lerkeveld.
		Als lid van Lerkeveld geniet u van allerlei voordelen, deze kunt u vinden onder members.
		Voor de bezoeker die geen lid is van deze exclusieve groep hebben we ook wat in de aanbieding:
		u kunt namelijk ons exclusieve Lerkeveld lied beluisteren(op eigen risico) en wat meer lezen over de groep
		waar Lerkeveld voor staat.
    </h5>
</div>

{% endblock %}
