{% extends  "layout.html" %}
{% set active_page = "over_ons" %}
{% block body %}

<div class="row">
	<div class="col s8 offset-s2 light">
	<h1>Oud Praesidia</h1>
	<p> We vonden het niet meer dan respectvol om de voorbije oude praesidia nog eens in de picture te zetten voor het bloed, 
                                zweet en bier dat zij ons de voorgaande jaren gegeven hebben. Hieronder vindt u een lijstje van de praesidia van de laatste jaren:
	</p>
	<ul>
        <li><a href="praesidium2008">2008-2009</a></li>
        <li><a href="praesidium2009">2009-2010</a></li>
        <li><a href="praesidium2010">2010-2011</a></li>
        <li><a href="praesidium2012">2012-2013</a></li>
        <li><a href="praesidium2013">2013-2014</a></li>
        <li><a href="praesidium2014">2014-2015</a></li>
    </ul>
	</div>
</div>
{% endblock %}