{% extends  "layout.html" %}
{% set active_page = "over_ons" %}
{% block body %}

<div class="row">
	<div class="col s8 offset-s2 light">
	<h1>Preasidium 2014-2015</h1>
	<table>
            <tr>
                <th>Groep</th>
                <th>Verantwoordelijke</th>
                <th>Werkgroep</th>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>Praeses</td>
                <td>Tine Vermeyen</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Vice-Praeses</td>
                <td>Lieze Dewulf</td>
                <td>&nbsp;</td>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>Activiteiten</td>
                <td>
                    <ul>
                        <li>Anne Van Gemert,</li>
                        <li>Jonas Heylen</li>
                    </ul>

                </td>
                <td>
                    Nele Coppens, Michiel Smets, Katrien D'Anvers, Saartje Lodewijckx, Heleen Boeyaert,
                    Tim Lodewijckx, Elise Pelgrims, Michiel Verbeeck, Joris Verhaegen, Elke Van Onsem, Jan-Pieter D'Anvers
                </td>

            </tr>
            <tr>
                <td>Cultuur</td>
                <td>Bram Neckebroeck</td>
                <td>
                    Anneleen De Vos, Eva Plasschaert, Jolien Verbeeck, Alexander Vanhulsel, Twinkel Van Impe, Jorge Luyts, 
                    Ellen Baetens, Nele Roose, Eva Eggers
                </td>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>Sport</td>
                <td>Bert Ceyssens, Gertjan Vandenbossche</td>
                <td>
                    Veerle Vermeyen,Thomas Bos, Siemen Timmermans,Tim Klok,Erika Langendries,Paul Lacko,Anja Verledens,Nore Mertens,Laurien Nijs
                </td>
            </tr>
            <tr>
                <td>IT</td>
                <td>Eli Vangrieken</td>
                <td>Bart Certyn, Koen Certyn, Thomas De Backer, Simon Bos</td>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>Kotbar</td>
                <td>Thomas Meert</td>
                <td>Arne Heylen, Silke Ceyssens, Anneleen De Vos, Hartwin Ghekiere, Tine Vermeyen, Lieze Dewulf, Lerten Viroux, Douwe Wittebrood</td>
            </tr>
            <tr>
                <td>Materiaal</td>
                <td>
                    Hartwin Ghekiere,
                    Philip De Cock
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>


        <br>
        <br>

        <h3>Gangverantwoordelijken</h3>
        <table>
            <tr tyle="font-weight: bold;">
                <th>Gang</th>
                <th>Verantwoordelijke</th>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>N0</td>
                <td>Hedwig Daniëls</td>
            </tr>
            <tr>
                <td>N1</td>
                <td>Michiel Smets &amp; Jan-Pieter D'Anvers &amp; Alexander Vanhulsel</td>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>N2</td>
                <td>Erika Langendries &amp; Laura Verhelst</td>
            </tr>
            <tr>
                <td>N3</td>
                <td>Jonas Heylen &amp; Elke Van Onsem</td>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>Z-1</td>
                <td>Siemen Timmermans &amp; Bram Neckebroek</td>
            </tr>
            <tr>
                <td>Z0</td>
                <td>Kjerstin Dewinter &amp; Eva Plasschaert</td>
            </tr>
            <tr style="background-color: #e2dedc">
                <td>Z1</td>
                <td>Michiel Desloovere &amp; Stijn De Wilde</td>
            </tr>
            <tr>
                <td>Z2</td>
                <td>Bart Certyn &amp; Wouter Lanneer</td>
            </tr>
        </table>
	</div>
</div>
{% endblock %}