{% extends  "layout.html" %}
{% set active_page = "over_ons" %}
{% block body %}

<div class="row">
	<div class="col s8 offset-s2 light">
	<h1>Preasidium 2013-2014</h1>
	<table>
            <tr>
                <th>Groep</th>
                <th>Verantwoordelijke</th>
                <th>Werkgroep</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Praeses</td>
                <td>Douwe Wittebrood</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Vice-Praeses</td>
                <td>Jarrik Schaepherders</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Activiteiten</td>
                <td>
                    <ul>
                        <li>Jan-Pieter D'Anvers</li>
                        <li>Sander Smets</li>
                    </ul>

                </td>
                <td>
                    Nele Coppens, Katrien D'Anvers, Jean-Pierre Dupriez, Hannes Heylen, Jonas Heylen, Emile Heymans, Stijn Langendries,
                    Tim Lodewijckx, Katrien Peeraer, Elise Pelgrims, Michiel Smets, Samuel Vandewaeter, Anne Van Gemert, Michiel Verbeeck, Joris Verhaegen, 
                    Elke Van Onsem, Jonas Heylen, Emile Heymans, Klaas Victor
                </td>

            </tr>
            <tr>
                <td>Cultuur</td>
                <td>Alexander Vanhulsel</td>
                <td>
                    Lieze Dewulf, Anneleen De Vos, Joran Lombahe, Bram Neckebroeck, Eva Plasschaert, Jarrik Schaepherders, 
                    Anne Van Gemert, Jolien Wens
                </td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Sport</td>
                <td>Paul Lacko, Siemen Timmermans</td>
                <td>
                    Ellen Baetens, Tom Brandt, Bert Ceyssens, Floor De Beenhouwer, Saartje Lodewijckx, Bram Neckebroeck, Melinde Vandamme,
                    Gert-Jan Vandenbossche, Anja Verledens, Veerle Vermeyen
                </td>
            </tr>
            <tr>
                <td>IT</td>
                <td>Koen Certyn</td>
                <td>Thomas Bos</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Kotbar</td>
                <td>Tine Vermeyen</td>
                <td>
                    Bart Certyn, Silke Ceyssens, Anneleen De Vos, Hartwin Ghekiere, Arne Heylen, Emile Heymans, Hanne Masure, Thomas Meert, Katrien Peeraer,
                    Jarrik Schaepherders, Jannes Thijsbaert, Lerten Viroux
                </td>
            </tr>
            <tr>
                <td>Materiaal</td>
                <td>
                    Hartwin Ghekiere,
                    Samuel Vandewaeter
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>


        <br>
        <br>

        <h3>Gangverantwoordelijken</h3>
        <table>
            <tr>
                <th>Gang</th>
                <th>Verantwoordelijke</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N0</td>
                <td>Tim Lodewijckx &amp; Dries Willems</td>
            </tr>
            <tr>
                <td>N1</td>
                <td>Philip De Cock &amp; Silke Ceyssens</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N2</td>
                <td>Anneleen De Vos</td>
            </tr>
            <tr>
                <td>N3</td>
                <td>Emile Heymans &amp; Elke Van Onsem</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z-1</td>
                <td>Siemen Timmermans &amp; Bram Neckebroek</td>
            </tr>
            <tr>
                <td>Z0</td>
                <td>Lieze Dewulf &amp; Katrien Dierckx</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z1</td>
                <td>Nele Coppens</td>
            </tr>
            <tr>
                <td>Z2</td>
                <td>Bert Ceyssens &amp; Lerten Viroux</td>
            </tr>
        </table>
	</div>
</div>
{% endblock %}