{% extends  "layout.html" %}
{% set active_page = "over_ons" %}
{% block body %}

<div class="row">
	<div class="col s8 offset-s2 light">
	<h1>Preasidium 2009-2010</h1>
	<table>
            <tr>
                <th>Groep</th>
                <th>Verantwoordelijke</th>
                <th>Werkgroep</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Praeses</td>
                <td>Dokus Mertens</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Vice-Praeses</td>
                <td>Stefaan Michielsen</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Activiteiten</td>
                <td>
                    <ul>
                        <li>Erik Vandenpoel</li>
                        <li>Stijn Coppens</li>
                    </ul>

                </td>
                <td>
                   Lies Bogaerts, Peter-Jan Lauwers, Wouter Steyaert, Robbert Coeckelberg, Simon Rousseau, Kristof Van Tricht, Peter Gerard
                </td>

            </tr>
            <tr>
                <td>Cultuur</td>
                <td>Stefaan Michielsen</td>
                <td>
                    Lies Bogaerts
                </td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Sport</td>
                <td>Jasmien Van Baelen, <br>Sofie Hendrickx</td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>IT</td>
                <td>Tanguy Monheim</td>
                <td>Erik De Weerdt</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Kotbar</td>
                <td>St&#233phanie D'Hondt</td>
                <td>
                    Erik De Weerdt, Mathieu Degros, Kristof Van Tricht, Jasper Piron
                </td>
            </tr>
            <tr>
                <td>Materiaal</td>
                <td>
                    &nbsp;
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>


        <br>
        <br>

        <h3>Gangverantwoordelijken</h3>
        <table>
            <tr>
                <th>Gang</th>
                <th>Verantwoordelijke</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N0</td>
                <td>Jens Vanbouwel</td>
            </tr>
            <tr>
                <td>N1</td>
                <td>Hannes Kaesteker</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N2</td>
                <td>Erik De Weerdt &amp; Bo Vanlimbergen</td>
            </tr>
            <tr>
                <td>N3</td>
                <td>Inne Van Dijck &amp; Jan Cuypers</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z-1</td>
                <td>Ben Raes &amp; Anneleen De Bruyn</td>
            </tr>
            <tr>
                <td>Z0</td>
                <td>Peter Mylemans</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z1</td>
                <td>Inne Akkermans</td>
            </tr>
            <tr>
                <td>Z2</td>
                <td>Klaas Verschueren (1e sem) &amp; Mathieu Degros (2e sem)</td>
            </tr>
        </table>
	</div>
</div>
{% endblock %}