{% extends "layout.html" %} 
{% set active_page = "over_ons" %} 
{% block body %}

<div class="row">
    <div class="col s8 offset-s2 light">
        <h1>Praesidium</h1>
        <table>
            <tr>
                <th>Groep</th>
                <th>Verantwoordelijke</th>
                <th>Werkgroep</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Praeses</td>
                <td>Alexander Vanhulsel</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Vice-Praeses</td>
                <td>Eva Plasschaert</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Activiteiten</td>
                <td>
                    <ul>

                        <li>Saartje Lodewyckx,</li>
                        <li>Koen Certyn</li>
                    </ul>

                </td>
                <td>

                    Elise Pelgrims, Michiel Smets, Michiel Verbeeck, Hanne Scheers, Tim Lodewyckx, Joris Verhaegen, Alexander Meulemans, Elke Van Onsem, Stijn Van den bossche, Katrien D'Anvers
                </td>

            </tr>
            <tr>
                <td>Cultuur</td>
                <td>Twinkel Van Impe</td>
                <td>Eva Eggers, Bram Neckebroeck, Anneleen De Vos, Anne Van Gemert, Joran Lombahe</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Sport</td>
                <td>Melinde Van Damme, Tim Klok</td>
                <td>Tom Brandt, Laura Verhelst, Siemen Timmermans, Nele Roose, Laurien Nijs, Heleen Boeyaert, Laurens Decan, Nore Mertens, Thomas Bos, Veerle Vermeyen</td>
            </tr>
            <tr>
                <td>IT</td>
                <td>Eli Vangrieken</td>
                <td>Bart Certyn, Koen Certyn, Thomas De Backer, Simon Bos</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Kotbar</td>
                <td>Thomas Meert</td>
                <td>Tine Vermeyen, Johannes Verherstraeten, Douwe Wittebrood, Alexander Meulemans, Anneleen De Vos, Arne Heylen, Silke Ceyssens, Laura Verhelst, Margot Coppens, Elise Pelgrims, Joren Thorisaen, Heleen Boeyaert, Lieze Dewulf, Jolien Wens, Veerle Vermeyen</td>
            </tr>
            <tr>
                <td>Melk en Brood</td>
                <td>Kjerstin De Winter</td>
                <td>Maarten Verlent, Tim Klok, Joren Thorisaen, Eva Plasschaert, Glenn Viroux, Heleen Boeyaert, Philip De Cock</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Materiaal</td>
                <td>Katrien Dierickx, Silke Ceyssens</td>
                <td>&nbsp;</td>
            </tr>
        </table>


        <br>
        <br>

        <h3>Gangverantwoordelijken</h3>
        <table>
            <tr>
                <th>Gang</th>
                <th>Verantwoordelijke</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N0</td>
                <td>Douwe Wittebrood &amp; Laura Van den broeck</td>
            </tr>
            <tr>
                <td>N1</td>
                <td>Kwinten Janssens &amp; Katrien D'Anvers</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N2</td>
                <td>Ellen Baetens &amp; Hanne Scheers</td>
            </tr>
            <tr>
                <td>N3</td>
                <td>Stijn Van den bossche &amp; Melinde Van Damme</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z-1</td>
                <td>Siemen Timmermans &amp; Bram Neckebroek</td>
            </tr>
            <tr>
                <td>Z0</td>
                <td>Katrien Dierickx &amp; Joran Lombahe</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z1</td>
                <td>Yasmine Gommé &amp; Louise Delforge</td>
            </tr>
            <tr>
                <td>Z2</td>
                <td>Lerten Viroux &amp; Jolien Verbeeck</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}