{% extends  "layout.html" %}
{% block body %}

<div class="row">
	<div class="col s2"><h1></h1></div>
	<div class="col s8">
	<h1>Wie zijn we</h1>
	<p> Het Lerkeveld praesidium heet u van harte welkom op Lerkeveld Underground. 
		Indien u op deze pagina terecht gekomen bent, bent u waarschijnlijk een ouder, een student, een pater op rust of misschien wel de Heer Vanleeuw himself.
		Wie u ook bent of wat uw doelstellingen ook mogen zijn, wij vonden het belangrijk dat wij ons duidelijk profileerden naar de grote koude onduidelijke buitenwereld toe.
	</p>
	<p> Lerkeveld wordt op <a href="http://www.lerkeveld.be">deze site</a> omschreven als "een huis met een rijke geschiedenis 
		waar vele gemeenschappen banden smeedden". 
		Wij vertegenwoordigen één van die gemeenschappen. Voor ons is banden smeedden echter het nuttigen van 
		Stella in de kotbar, deelnemen aan de vierentwintigurenloop en als het te rustig wordt die studenten in de tegenovergestelde vleugel eens op 
		hun plaats zetten (in alle vriendelijkheid natuurlijk).
	</p>
	<p> Lerkeveld Underground is dus de site van, voor en door studenten. 
		Met plezier stellen wij dan ook een dynamische groep praesidiumleden voor die instaan 
		voor het entertainment van de studentikoze Lerkeveldpopulatie:
	</p>
	<ul>
		<li><a href="praesidium.html">Praesidium</a></li>
		<li><a href="oudPraesidia.html">Oud Praesidia</a></li>
	</ul>
	</div>
	<div class="col s2"><h1></h1></div>
</div>
{% endblock %}
