{% extends  "layout.html" %}
{% set active_page = "over_ons" %}
{% block body %}

<div class="row">
	<div class="col s8 offset-s2 light">
	<h1>Preasidium 2010-2011</h1>
	<table>
            <tr>
                <th>Groep</th>
                <th>Verantwoordelijke</th>
                <th>Werkgroep</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Praeses</td>
                <td>Peter Mylemans</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Vice-Praeses</td>
                <td>Lies Bogaerts</td>
                <td>&nbsp;</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Activiteiten</td>
                <td>
                    <ul>
                        <li>Peter Gerard</li>
                        <li>Jens Van Bouwel</li>
                    </ul>

                </td>
                <td>
                    Ben Bertrands, Robbert Coeckelbergh, Stijn Coppens, Philip De Cock, Hannes Heylen, Jarrik Schaepherders, 
                    Laura Tavernier, Siebe Thijsbaert, Samuel Vandewaeter, Alexander Vanhulsel, Maxime Vinel
                </td>

            </tr>
            <tr>
                <td>Cultuur</td>
                <td>Inne Akkermans</td>
                <td>
                    Pieter-Jan Coppejans, Anneleen De Bruyn, Lore Weyers
                </td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Sport</td>
                <td>Bart Gerard, Jasmien Van Baelen</td>
                <td>
                    Wouter Biesmans, Bart Bogaerts, Sofie Hendrickx, Evelyn Vanhulsel, Britt Van Mechelen, Joris Dedecker
                </td>
            </tr>
            <tr>
                <td>IT</td>
                <td>Stijn Coppens, Tanguy Monheim</td>
                <td>Ruben Berckmans</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Kotbar</td>
                <td>St&eacute;phanie D'Hondt</td>
                <td>
                    Ben Bertrands, C&eacute;dric Heymans, Stefaan Michielsen, Laura Tavernier, Samuel Vandewaeter, Kristof Van Tricht
                </td>
            </tr>
            <tr>
                <td>Materiaal</td>
                <td>
                    Stefaan Michielsen
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>


        <br>
        <br>

        <h3>Gangverantwoordelijken</h3>
        <table>
            <tr>
                <th>Gang</th>
                <th>Verantwoordelijke</th>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N0</td>
                <td>Peter-Jan Lauwers &amp; Lore Weyers</td>
            </tr>
            <tr>
                <td>N1</td>
                <td>Philip De Cock &amp; Joris Dedecker</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>N2</td>
                <td>Erik De Weerdt &amp; Joeri Ledegen</td>
            </tr>
            <tr>
                <td>N3</td>
                <td>C&eacute;dric Heymans</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z-1</td>
                <td>Kristof Dieusaert &amp; Hartwin Ghekiere</td>
            </tr>
            <tr>
                <td>Z0</td>
                <td>Ruben Berckmans &amp; Peter Van Gemert</td>
            </tr>
            <tr class="blue-grey lighten-4">
                <td>Z1</td>
                <td>Gerard Coppejans</td>
            </tr>
            <tr>
                <td>Z2</td>
                <td>Simon Rousseau</td>
            </tr>
        </table>
	</div>
</div>
{% endblock %}